* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
/* nav bar */
.bar {
    position: sticky;
    top: 0%; 
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.bar>* {
    padding: .75em;
}

/* landing page*/
.navtags {
    display: flex;
    min-width: 50%;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    overflow: hidden;
}

.navtags a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 1em;
    /* background-color: rgb(44, 43, 43); */
    border-radius: 30px;
    border: 2px solid black;
}

.navtags a:hover {
    background-color: whitesmoke;
}

.landingmain {
    /*  height:100vh; */
    background-color: blueviolet;
    display: flex;
}

.landingmain .welcome {
    padding: 2em;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.welcome p {
    flex-basis: 100%;
}

.welcome a {
    text-decoration: none;
    color: black;
    margin: 3em;
    padding: 1em;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
}

.welcome a:hover {
    background-color: whitesmoke;
}

.landingmain .side {
    width: 50vw;
    height: 100vh;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingmain .side .img {
    width: 75%;
    height: 50%;
    border: 4px solid green;
    border-radius: 50%;
}

@media only screen and (max-width:600px) {
    .landingmain {
        flex-flow: wrap;
        flex-direction: column-reverse;
    }

    .landingmain .welcome {
        width: 100vw;
        height: 100vh;
    }

    .landingmain .side {
        width: 100vw;
        height: 100vh;
    }
    .navtags{
        display: none;
    }
}

:target::before {
    content: "";
    display: block;
    
}

/*About Page*/
.about {
    background-color: brown;
}

.aboutheaddiv h1 {
    width: 300px;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    padding-top: .75em; 
    margin: 0px auto;
}

.about #abouthead {
    /*  margin-top: 1em; */
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
}

.about p {
    margin: 2em;
    line-height: 2;
}

.about .contact {
    margin-top: 2em;
    text-decoration: none;
    padding: .75em;
    background-color: blanchedalmond;
    border-radius: 10px;
    margin-left: 2em;
}

.about .aboutempty {
    height: 15vh;
}

/* education page */
.edu-head h1{
    width: 300px;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    padding-top: .75em;
    margin: 0px auto;
    text-align: center;
}
.education-page .edu {
    margin: 5em;
    display: flex;
    justify-content: center;
}

.edu .education-bar {
    height: 100vh;
    width: 10px;
    background-color: aqua;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.edu .education-bar .bar-points{
     height: 20px;
     width: 20px;
     background-color: white;
     border: 1px solid aqua;
     border-radius: 20px;
}
.edu .content{
    display:flex;
    height: 100vh;
    width: 70vh;
    min-width: 30vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.edu .content .con h3{
    padding-bottom : 1em;
}


/* skills-page */
.skill-page {
    background-color: blanchedalmond;
}

.skills {
    margin: 0em;
    display: flex;
    column-gap: 10vh;
    row-gap: 5vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 3em;
    padding-top: 2em;
}

.skill-head h1 {
    width: 300px;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    padding-top: .75em;
    margin: 0px auto;
    text-align: center;
    font-size: 2.5em;
}

.skills .s-box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 1em;
    height: 220px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skills .s-box:hover {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.s-box .progress-bar {
    height: 10%;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    background-image: linear-gradient(to right, orange 30%, rgba(0, 0, 0, 0) 20%);
}

.skills .s-box:hover .progress-bar {
    background-image: linear-gradient(to right, green 30%, rgba(0, 0, 0, 0) 20%);
}

@media only screen and (max-width:450px) {
    .skills .s-box{
        height: 150px;
        width:150px;
    }
    .skills{
        column-gap: 2vh;
        row-gap: 2vw;
    }

    .skills .s-box:hover {
        box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
    }

}

/* projects page */
.projects-page{
   background-color: rgb(219, 128, 17);
   padding-bottom: 3em;
}
.projects {
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    justify-content: center;
    align-items: center;
}

.projects-page .project-head h1 {
    width: 300px;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    padding-top: 0.75em;
    margin: 0px auto;
    text-align: center;
    font-size: 2.5em;
}

.projects .project {
     height: 70vh; 
    width: 50vw;
    border: 2px solid black;
    align-items: center;
    position: relative;
    border-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.projects .project:nth-child(odd) {
    box-shadow: 7px 7px 2px 1px rgba(17, 212, 226, 0.2);
}

.projects .project:nth-child(even) {
    box-shadow: 7px 7px 2px 1px rgba(97, 17, 226, 0.2);
}

.projects .img {
    background-image: url(images.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border: 2px solid red;
    border-radius: 20px;
    min-height: 50%;
}
.projects .pro-details p {
    padding: 2em;
}

.project .about-project {
    display: flex;
    height: 50px;
    width: 100px;
    border: 2px solid black;
    position: absolute;
    top: 90%;
    left: 95%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    text-decoration: none;
    color: black;
}


.projects .project:nth-child(odd) .about-project {
    box-shadow: 7px 7px 2px 1px rgba(97, 17, 226, 0.5);
}

.projects .project:nth-child(even) .about-project {
    box-shadow: 7px 7px 2px 1px rgba(17, 212, 226, 0.5);
}

@media only screen and (max-width:600px) {
    .project .about-project {
        left: 5%;
        top: 95%
    }
    .projects .pro-details p{
        display: none;
    }
    .projects .project{
        height: 50vh;
    }
}

@media only screen and (max-width:400px) {
    .project .about-project {
        left: 5%;
        top: 95%
    }
    .projects .pro-details p{
        display: none;
    }
    .projects .project{
        height: 30vh;
    }
}

