@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Teko:wght@300&display=swap');
:root{
    --root-blue1: rgb(64, 190, 229); 
    --root-white1: rgb(255, 255, 255);
    --root-white2: rgb(227, 223, 223);
    --root-black1: rgb(11, 11, 11);
    --root-black2: rgb(39, 37, 37);
    --root-black3: rgb(34, 33, 33);
}
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
    font-size:1rem;
}
html{
    scroll-behavior: smooth;
}

 /* nav bar */

.bar {
    position: sticky;
    top: 0%; 
  /*  width: 100%; */ 
    background-color:var(--root-black1);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 1;
}
.bar>* {
    padding: .75em;   
}
.bar h3{
    color: aliceblue;
    width: 50%;
    font-family: 'Teko', sans-serif;
    font-size: 1.75rem;
     text-shadow: 3px 4px var(--root-blue1); 
     text
}

.navtags {
    display: flex;
     width: 70%; 
   /*  flex-wrap: wrap;  */
    justify-content: flex-end;
    overflow: hidden;
}
 
.navtags a {
    text-decoration: none;
    color: var(--root-blue1);
    margin-left: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 1em;
    /* background-color: rgb(44, 43, 43); */
    border-radius: 25px;
    border: 2px solid rgb(255, 255, 255);
}
.navtags a:hover {
    background-color: rgb(181, 176, 176);
     background-color: var(--root-white1);
}

.side-nav .buttons .nav-button{
    background-color: rgb(43, 45, 45);
    border: 1px solid rgb(23, 22, 22);
    display: block;
    height: 30px;
    width: 30px;
    padding: 4px;
    border-radius: 3px;
    margin-bottom: 1px;
     
}
.side-nav .buttons .nav-button:hover{
    background-color: var(--root-blue1);
}
.side-nav .buttons{
   position: fixed;
   top:15%;
   right: 0%;
   display: none;
}




/* landing page*/ 
.landingmain {
    /*  height:100vh; */
    background-color: rgb(23, 22, 23);
    display: flex;
}

.landingmain .welcome {
    padding: 2em;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.welcome .hey{
    flex-basis: 100%;
    padding-bottom: 1em;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    color: var(--root-white1);
}

.welcome .heyy{
    color: var(--root-blue1);
    text-shadow: 2px 2px var(--root-white1); 
}
.welcome p {
    flex-basis: 100%;
    color: rgba(255, 253, 255, 0.907);
    font-size: 1.5rem;
}

.welcome a {
    text-decoration: none;
    color: var(--root-blue1);
    margin: 3em;
    padding: 1em;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    display: inline-block;
}

.welcome a:hover {
    background-color:var(--root-white1);
}

.landingmain .side {
    width: 50vw;
    height: 100vh;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingmain .side .img {
    width: 75%;
    height: 50%;
    border: 4px solid green;
    /* border-radius: 50%; */
    background-image: url(images.jpg);
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width:600px) {
    /* *{
        font-size: 1rem;
    } */
    .landingmain {
        flex-flow: wrap;
        flex-direction: column-reverse;
    }

    .landingmain .welcome {
        width: 100vw;
        height: 100vh;
    }

    .landingmain .side {
        width: 100vw;
        height: 100vh;
    }
   
}

:target::before {
    content: "";
    display: block;
    
}

/*About Page*/
.about {
    background-color: var(--root-black3);
    scroll-margin: 60px;
}

.aboutheaddiv h1 {
    /* width: 300px; */
   /*  border-bottom: 2px solid red; */
    padding-bottom: 10px;
    padding-top: .75em; 
    margin: 0px auto;
    background-color:var(--root-black2);
   
}

.about #abouthead {
    /*  margin-top: 1em; */
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
}

.about p {
    margin: 2em;
    line-height: 2;
    font-size: 1.5em;
    color: var(--root-white1);
}

.about .contact {
    margin-top: 2em;
    font-size: larger;
    text-decoration: none;
    padding: .75em;
    border-radius: 20px;
    margin-left: 2.4em;
    border: 2px solid rgb(255, 255, 255);
    color: var(--root-blue1);
}
.about .contact:hover{
    background-color: var(--root-white1);
}
.about .aboutempty {
    height: 15vh;
}

/* education page */
.edu-head h1{
    /* width: 300px;
    border-bottom: 2px solid red; */
    font-size: 2.75rem;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: .75em;
    margin: 0px auto;
    text-align: center;
    background-color: var(--root-black2);
}
.education-page{
    background-color: var(--root-black3);
}
@media only screen and (min-width:750px) {
    
.education-page .edu{
   height: 100vh;
   margin-top: 5rem;
   margin-left: 5rem;
   margin-right: 5rem;
   position: relative;
}
.edu .education-bar{
    height: 100%;
    width: 10px;
    position: absolute;
    top: 0%;
    left: 20%;
    background-color: var(--root-black1);
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    border-radius: 20px;
   
}
.edu .education-bar .bar-points{
    height: 20px;
    width: 20px;
    background-color: var(--root-blue1);
   border: 1px solid var(--root-black3);
    border-radius: 20px;
    position: absolute;
    left: -4px;
}
.edu .education-bar .bar-points.barp1{
     top:10%
}
.edu .education-bar .bar-points.barp2{
    top:45%;
}
.edu .education-bar .bar-points.barp3{
    top:75%;
}  
.edu .content{
    position:relative;
    left: 25%;
    height: 100vh;
    width:60vw;
   
}

.edu .content .con1{
    position: absolute;
    top:9%;
}
.edu .content .con2{
    position: absolute;
    top:44%;
}
.edu .content .con3{
    position: absolute;
    top: 74%;
}
.edu .content p{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--root-white1);
    letter-spacing: 1px;
}
.edu .content span{
    font-size: 1.3rem;
    color: var(--root-white2);
    font-weight: 700;
    letter-spacing: 1px;
}
.edu .content h3{
    color: var(--root-blue1);
    font-size: 2rem;
}
.education-page .edu-empty{
    height: 5rem;
}
}

/* skills-page */
.skill-page {
    scroll-margin: 60px;
    background-color: var(--root-black3);
}

.skills {
    margin: 0em;
    display: flex;
    column-gap: 10vh;
    row-gap: 5vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 3em;
    padding-top: 2em;
}

.skill-head h1 {
    /* width: 300px; */
   /*  border-bottom: 2px solid red; */
   background-color: var(--root-black2);
    padding-bottom: 10px;
    padding-top: .75em;
    margin: 0px auto;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
}

.skills .s-box {
    font-size: x-large;
    color: var(--root-white2);
    border: 2px solid var(--root-white2);
    border-radius: 20px;
    padding: 1em;
    height: 220px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skills .s-box:hover {
    box-shadow: 12px 12px 2px 1px rgba(27, 251, 251, 0.674);
}

.s-box .progress-bar {
    height: 10%;
    width: 100%;
    border: 2px solid var(--root-white2);
    border-radius: 10px;
    background-image: linear-gradient(to right, var(--root-white2) 30%, rgba(0, 0, 0, 0) 20%);
}

.skills .s-box:hover .progress-bar {
    box-shadow: 2px 2px 2px 1px var(--root-white2);
    background-image: linear-gradient(to right, var(--root-blue1) 30%, rgba(0, 0, 0, 0) 20%);
}

@media only screen and (max-width:450px) {
    .skills .s-box{
        height: 150px;
        width:150px;
    }
    .skills{
        column-gap: 2vh;
        row-gap: 2vw;
    }

    .skills .s-box:hover {
        box-shadow: 4px 4px 2px 1px var(--root-blue1);
    }
   
.skills .s-box:hover .progress-bar {
    box-shadow: 2px 2px 2px 1px var(--root-white2);
    background-image: linear-gradient(to right, var(--root-blue1) 30%, rgba(0, 0, 0, 0) 20%);
}
}

/* projects page */
.projects-page{
   background-color: rgb(219, 128, 17);
   padding-bottom: 3em;
   scroll-margin: 60px;
}
.projects {
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    justify-content: center;
    align-items: center;
}

.projects-page .project-head h1 {
    width: 300px;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    padding-top: 0.75em;
    margin: 0px auto;
    text-align: center;
    font-size: 2.5em;
}

.projects .project {
     height: 70vh; 
    width: 50vw;
    border: 2px solid black;
    align-items: center;
    position: relative;
    border-radius: 20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.projects .project:nth-child(odd) {
    box-shadow: 7px 7px 2px 1px rgba(17, 212, 226, 0.2);
}

.projects .project:nth-child(even) {
    box-shadow: 7px 7px 2px 1px rgba(97, 17, 226, 0.2);
}

.projects .img {
    background-image: url(images.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border: 2px solid red;
    border-radius: 20px;
    min-height: 50%;
}
.projects .pro-details p {
    padding: 2em;
}

.project .about-project {
    display: flex;
    height: 50px;
    width: 100px;
    border: 2px solid black;
    position: absolute;
    top: 90%;
    left: 95%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    text-decoration: none;
    color: black;
}


.projects .project:nth-child(odd) .about-project {
    box-shadow: 7px 7px 2px 1px rgba(97, 17, 226, 0.5);
}

.projects .project:nth-child(even) .about-project {
    box-shadow: 7px 7px 2px 1px rgba(17, 212, 226, 0.5);
}

@media only screen and (max-width:600px) {
    .project .about-project {
        left: 5%;
        top: 95%
    }
    .projects .pro-details p{
        display: none;
    }
    .projects .project{
        height: 50vh;
    }
}

@media only screen and (max-width:400px) {
    .project .about-project {
        left: 5%;
        top: 95%
    }
    .projects .pro-details p{
        display: none;
    }
    .projects .project{
        height: 30vh;
    }
}

 /* side nav tag media query */
@media only screen and (max-width:750px) {
    .navtags{
        display: none;
    }
    .side-nav .buttons{
        display: block;
    }
    .about,.education-page,.skill-page,.projects-page{
        scroll-margin: 40px;
    }
    .bar h3{
        font-size: 1.2em;
    }
}


/* education page media quiery */
@media only screen and (max-width:750px) {

    .education-page .edu {
        margin: 5em;
        display: flex;
    }
    
    .edu .education-bar {
        height: 100vh;
        width: 10px;
        background-color: var(--root-blue1);
        border-radius: 20px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .edu .education-bar .bar-points{
         height: 20px;
         width: 20px;
         background-color: var(--root-black2);
         border: 1px solid var(--root-blue1);
         border-radius: 20px;
    }
    .edu .content{
        display:flex;
        height: 100vh;
        width: 70vh;
        min-width: 30vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 2em;
    }
    
    .edu .content p{
        font-size: 1rem;
        font-weight: 500;
        color: var(--root-white1);
       /*  letter-spacing: .75px; */
    }
    .edu .content span{
        color: var(--root-white2);
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 1.2rem;
    }
    .edu .content h3{
        font-size: 1.2rem;
        color: var(--root-blue1);
    }
    .education-page .edu-empty{
        height: 5rem;
    }
}

/* certifications-page */
.certifications-page .certifi-head h1{
    width: 300px;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    padding-top: 0.75em;
    margin: 0px auto;
    text-align: center;
    font-size: 2.5em;
}

.certifi{
    height: 100vh;
    display: flex;
    gap: 5vw;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}

.certifi-hover{
    height: 100%;
    width: 50vw;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.certifi-display{
    height: 50%;
    width: 50vw;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
}

.certifi-hover .certificate{
    margin: .5em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 4px;
    display: block;
    text-decoration: none;
    text-align: center;
}
.certifi-display .certifi-img{
    margin: 1rem;
    border: 2px solid black;
}

